* {
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --gradiant-color-first: #2a4032;
  --gradiant-color-second: #3a5e46;
  --color-one: #fdde67;
  --color-two: #c5c2ca;
  --color-three: #e9e9e9;
  --color-four: #3b5f47;
  --color-five: #181818;
  --color-six: #1b2d22;
  --first-font-family: "Lato";
  --second-font-family: "Roboto";
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--first-font-family), sans-serif;
  margin: 0;
  background: var(--color-five);
}

img {
  display: block;
}

.container {
  width: 360px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background: linear-gradient(
    to right,
    var(--gradiant-color-first),
    var(--gradiant-color-second)
  );
}
.hero-head {
  padding: 27px 15px 0 15px;
}

.hero-head-year {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #ffffff4d;
}

.hero-head-title {
  font-size: 60px;
  font-weight: 900;
  line-height: 50px;
  text-align: left;
  color: var(--color-white);
  margin: 12px 0 12px 0;
}
.hero-head-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #ffffffcc;
}
.hero-head-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  padding: 16px 40px 16px 40px;
  margin-top: 24px;
  border-radius: 6px;
  border: none;
  background: var(--color-one);
  position: sticky;
  z-index: 4;
}

.hero-img-box {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.hero-img {
  position: relative;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.circle-1 {
  width: 192.63px;
  height: 192.63px;
  border-radius: 50%;
  background: var(--color-six);
  position: absolute;
  left: 145px;
  top: 18px;
}
.circle-2 {
  width: 198.55px;
  height: 198.55px;
  border-radius: 50%;
  background: var(--color-six);
  position: absolute;
  left: 35px;
  top: 80.04px;
}
.hero-rondels {
  width: 78px;
  position: relative;
  bottom: 115px;
  left: 142px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rondel-1 {
  width: 18px;
  height: 18px;
  border-radius: 21px;
  background: var(--color-white);
}
.rondel-2 {
  width: 14px;
  height: 14px;
  border-radius: 21px;
  background: var(--color-white);
  opacity: 20%;
}

.hero-nav {
  margin-top: -140px;
  background: var(--color-one);
  position: sticky;
  z-index: 5;
  padding: 12px 15px 12px 15px;
}

.nav-bar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-bar li {
  display: inline;
  align-items: center;
}
.brands {
  background: var(--color-five);
  padding: 12px 15px 12px 15px;
}
.brands-list {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.adidas,
.prada,
.nike,
.hm,
.gucci,
.blk {
  height: 10px;
}
.collections {
  background: var(--color-white);
  padding: 32px 15px 32px 15px;
}
.collection-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.collection-box {
  background: var(--color-two);
  border-radius: 24px;
  padding: 18px 18px 0 18px;
  margin-top: 32px;
  overflow: hidden;
  height: 410px;
}
.collection-box-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  margin: 0;
}

.collection-box-img {
  position: relative;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 197.28px;
}
.collection-box-button {
  position: relative;
  top: -32px;
  left: 128px;
  background: var(--color-five);
  padding: 16px 40px 16px 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  border-radius: 6px;
  border: none;
  z-index: 3;
  font-family: var(--first-font-family);
}
.collections a {
  color: var(--color-white);
  text-decoration: none;
}
.collection-box-secondary {
  background: var(--color-one);
  border-radius: 24px;
  padding: 18px 18px 0 18px;
  margin-top: 32px;
  overflow: hidden;
  height: 246px;
  display: flex;
}
.collection-box-secondary-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
.collection-box-desc {
  margin-left: -40px;
  margin-top: -10px;
}
.collection-box-secondary-button {
  position: relative;
  top: -20px;
  left: -21px;
  background: var(--color-five);
  padding: 16px 40px 16px 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  border-radius: 6px;
  border: none;
  z-index: 3;
  font-family: var(--first-font-family);
  white-space: nowrap; 
}
.collection-box-secondary-img {
  position: relative;
  top: 7px;
  left: -16px;
  width: 189.66px;
}
.collection-box-discount {
  font-family: var(--second-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 60px;
}
.best_sellers {
  background: var(--color-three);
  padding: 32px 0 32px 0px;
}
.best_sellers h2 {
  margin: 0;
}

.items-for-sale {
  display: flex;
  gap: 35px;
  overflow-x: scroll;
  margin-top: 32px;
  padding: 0 15px 0 15px;
}
.items-for-sale li {
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.best_sellers-item--image-box {
  position: relative;

  background: var(--color-white);
  border-radius: 24px;
  display: flex;
  height: 220px;
}
.best_sellers-title {
  padding-left: 15px;
}

.best_sellers-item-img {
  height: 148.36px;

  margin-left: 43.5px;
  margin-top: 31px;
}

.item-details {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.item-details button {
  padding: 0;
}

.item-title {
  font-family: var(--second-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  margin: 0;
}
.item-price {
  font-family: var(--second-font-family);
  font-size: 14px;
  font-weight: 300;
  line-height: 16.41px;
  text-align: left;
}
.item-shop-icon {
  background: var(--color-one);
  border-radius: 6px;
  padding: 7px;
}
.items-for-sale button {
  border: none;
  background: none;
}
.item-price.discounted {
  text-decoration-line: line-through;
  opacity: 20%;
  margin-right: 12px;
}
.discount {
  background: var(--gradiant-color-second);

  padding: 3px 6px 3px 6px;
  border-radius: 6px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 300;
  line-height: 14.06px;
  height: 20px;
  color: var(--color-white);
  position: absolute;
  top: 16px;
  left: 16px;
}

.ending {
  background: var(--color-four);
  padding: 32px 15px 32px 15px;
  color: #ffffff;
}

.ending-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0;
}
.time-to-end {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.time-box {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  text-align: center;
}
.time {
  width: 54px;
  background: #18181838;
  display: inline;
  padding: 12px 0px 12px 0px;
  border-radius: 8px;
  font-family: var(--second-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
.duration {
  font-family: var(--second-font-family);
  font-size: 12px;
  font-weight: 300;
  line-height: 14.06px;
  margin-top: 12px;
}
.hero-img-screen {
  display: none;
}
.hero-discount {
  display: none;
}

.hero-main-menu {
  display: none;
}
.left-right-box {
  display: none;
}
.ending-discount {
  display: none;
}

@media screen and (min-width: 1000px) {
  
  .container {
    width: 1540px;
    max-width: 100%;
  }

  .circle-1 {
    width: 308.6px;
    height: 308.6px;
    top: 128.5px;
    left: 100px;
  }
  .circle-2 {
    width: 308.6px;
    height: 308.6px;
    top: 233px;
    left: -80px;
  }
  .hero-img {
    display: none;
  }
  .hero-img-screen {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .hero-img-box {
    left: 400px;
    top: 63px;
    margin-bottom: 61px;
  }
  .hero-discount {
    display: block;
  }
  .discount-price {
    position: absolute;
    top: 80px;
    left: -55px;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.2px;
    text-align: center;
    color: var(--color-white);
    z-index: 5;
  }
  .discount-circle {
    position: absolute;
    top: 115px;
    left: 4px;
    width: 110px;
    height: 110px;
    border-radius: 72px;
    background: var(--color-one);
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 700;
    line-height: 30.47px;
    text-align: center;
    padding: 25px 15px 25px 15px;
    z-index: 5;
  }
  .hero-nav {
    display: none;
  }
  .hero-rondels {
    flex-direction: column;
    gap: 16px;
    right: 1000px;
  }
  .rondel-1 {
    width: 21px;
    height: 21px;
  }
  .rondel-2 {
    width: 16px;
    height: 16px;
  }
  .hero-main-menu {
    display: flex;
    gap: 442px;
    align-items: center;
  }
  .hero-main-menu-list {
    list-style: none;
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
  }
  .hero-main-title {
    font-size: 36px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    color: var(--color-white);
  }
  .hero-main-menu-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: var(--color-white);
    opacity: 30%;
  }
  .selected-item {
    opacity: 100%;
  }

  .hero {
    padding: 25px 0px 0 110px;
  }
  .hero-head {
    width: 538px;
    margin-top: 85px;
  }
  .hero-head-title {
    font-size: 112px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0.13em;
    text-align: left;
  }
  .hero-head-year {
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
  }
  .screen-hero {
    display: flex;
  }
  .brands {
    padding: 12px 15px 12px 15px;
    position: relative;
    z-index: 6;
  }
  .hero-rondels-screen {
    display: flex;
    flex-direction: column;
    gap: 16px;
    right: 1000px;
    align-items: center;
    position: absolute;
    top: 338px;
    left: 1410px;
  }

  .hero-head-group {
    flex-direction: column;
  }
  .hero-head-desc {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
  }
  .hero-head-button {
    margin-top: 49px;
  }
  .left-right-box {
    display: flex;
    gap: 12px;
    position: relative;
    top: 620px;
    left: -170px;
    height: max-content;
    z-index: 8;
  }
  .hero-rondels {
    display: none;
  }
  .adidas,
  .prada,
  .nike,
  .hm,
  .gucci,
  .blk {
    height: 40px;
  }
  .brands-list {
    padding: 30px 110px 30px 110px;
    justify-content: baseline;
  }
  .hero-shopping-cart {
    background: var(--color-one);
    padding: 12px;
    border-radius: 20px;
  }
  .shopping-cart {
    width: 16px;
  }
  .collections {
    padding: 70px 110px 70px 110px;
  }
  .collection-title {
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
  }
  .collections-screen {
    display: flex;
    gap: 80px;
    margin-top: 38px;
  }
  .collection-box {
    height: 550px;
    padding: 24px 25px 0 25px;
    flex-grow: 2;
  }
  .collection-box-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
  }
  .collection-box-secondary-title {
    font-size: 24px;
    line-height: 40px;
    width: 185px;
    margin-top: 71.87px;
  }
  .collection-box-discount {
    font-size: 48px;
    line-height: 56.25px;
  }
  .collection-box-secondary {
    height: 550px;
    flex-grow: 1;
  }
  .collection-box-img {
    width: 278.66px;
    top: 10px;
  }
  .collection-box-button {
    top: -65px;
    left: 270px;
  }

  .collection-box-secondary-img {
    width: 455.14px;
  }
  .collection-box-secondary-button {
    top: 150px;
    left: 103px;
  }
  .best_sellers {
    padding: 70px 110px 70px 110px;
  }
  .best_sellers-item-img {
    height: 238.99px;
    margin-top: 54px;
    margin-left: 48px;
  }

  .best_sellers-item--image-box {
    height: 347px;
    position: relative;
  }
  .best_sellers-item-intrested {
    margin-left: -25px;
  }
  .best_sellers-title {
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
  }
  .items-for-sale {
    margin-top: 70px;
    margin-bottom: 119px;

  }
  .item-title {
    font-size: 18px;
    line-height: 21.09px;
  }
  .item-price {
    font-size: 16px;
    line-height: 18.75px;
  }
  .discount {
    background: var(--gradiant-color-second);

    padding: 3px 6px 3px 6px;
    border-radius: 6px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    height: 20px;
    color: var(--color-white);
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .ending-discount {
    background: var(--color-one);
    display: block;
    padding: 78px 0 78px 0;
  }
  .ending-discount-percent {
    font-size: 64px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    position: relative;
    left: 100px;
  }
  .ending-box {
    display: flex;

  }
  .ending {
    padding: 78px 110px 78px 110px;
 
  }
  .time-to-end {
    margin-left: 24px;
    justify-content: left;
    gap: 48px;
  }

  .time {
    width: 153.5px;
    padding: 32px 0 32px 0;
    font-size: 64px;
    line-height: 48px;
  }
  .ending-title {
    margin-left: 24px;
    margin-bottom: 93.47px;
    font-size: 64px;
    line-height: 48px;
    text-align: left;
  }

  .ending-discount-img {
    position: relative;
    left: 110px;
    top: 60px;
    padding-right: 38px;
  }
  .duration {
    font-size: 24px;
    line-height: 28.13px;
  }
}
